<div class='container'>
  <div class="col-xs-6">
    <div class="center-block text-center">
      <h1><strong>About</srong></h1>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="center-block">
      <p class="text-center">癒しを求めるすべての方々へ。</p>
      <p class="text-center">フロミルはリラクゼーション施設の総合レビューサイトです。</p>
      <p class="text-center">日々温泉やサウナを追い求め、気軽に探せるサイトは無いものか、、</p>
      <p class="text-center">そんな想いから当サイトが生まれました。</p>
    </div>
  </div>
  <div class="col-xs-6">
    <div class="center-block">
      <p class="text-center"><%= image_tag 'about.png', size: '400x400' %></p>
    </div>
  </div>
</div>