<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<!--<%# last_score = 0 %>-->
<!--<%# j = 1 %>-->
<!--  <%# @ranks.each.with_index(1) do |score,i|%>-->
<!--    <%# if facility.reviews.average(:score).to_f.round(1) != last_score %>-->
<!--      <%# j = i %>-->
<!--      <div>-->
<!--       <%#=j%> 位<%#=facility%>-->
<!--      </div>-->
<!--      <%# last_score = facility.reviews.average(:score).to_f.round(1) %>-->
<!--    <%# else %>-->
<!--      <div>-->
<!--       <%#=j%> 位<%#=facility%>-->
<!--      </div>-->
<!--      <%# last_score = facility.reviews.average(:score).to_f.round(1) %>-->
<!--    <%# end %>-->
<!--  <%# end %>-->
<!--</div>-->