<div class="p-3 bg-warning text-white">
  <div class='container mt-2'>
    <div class='row'>
      <div class='mx-auto'>
        <p>https://github.com/YasnoGit</p>
      </div>
    </div>
  </div>
</div>